@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
:root {
  --normal-font-size: 24px;
  --pre-high-font-size: 32px;
  --high-font-size: 60px;
}

html {
  height: 720px;
  width: 1280px;
}

body {
  color: #fff;
  background-image: url("../img/bg.jpg");
  background-size: contain;
  font-size: var(--normal-font-size);
  background-repeat: no-repeat;
  font-family: 'Montserrat', serif;
  font-weight: bold;
}

.container {
  height: 560px;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: 240px 1fr;

  .top {
    padding-top: 90px;
    width: 380px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0;
    grid-template-rows: 1fr;
    margin: 0 auto;
    text-align: center;

    .event_name {
      padding: 25px 0;
    }
  }
  .mid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 0;
    grid-template-rows: 1fr;
    margin: 0 auto;
    .score {
      text-align: center;
      padding-top: 40px;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 0;
      grid-template-rows: 70px 1fr;
      .score_table {
        font-weight: 800;
        font-size: var(--high-font-size);
      }
      .match_kind {
        font-weight: 500;
      }
    }
    .team {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 70px;
      grid-template-rows: 200px 1fr;
      .team_logo {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px -2px 0 white);
      }
      .team_name {
        text-align: center;
        font-size: var(--pre-high-font-size);
      }
    }
  }
}

